
body {
    font-family: 'Times New Roman', 'Helvetica', 'Arial';
    margin: 10px;
    padding: 0px;
    background-color: #f4f4f4;
    height: 1000px ;
}
background {
    height: max-content;
}
container {
    max-height: 1600;
}
header {
    background-color: #3db6e6;
    color: #073352;
    font-family: 'Times New Roman', 'Helvetica', 'Arial';
    text-decoration: none;
    padding: 10px 0;
    text-align: center;
    border: 2px solid #073352;
}
.logo {
    display: float; 
    margin-left: 10px;
    margin-top: -1 px;
    width: 130px;
    position: absolute;
    top: 0;
    transform: translateY(12%);
}
nav {
    background-color: #3db6e6;
    color: #fff;
    font-family: 'Times New Roman', 'Helvetica', 'Arial';
    padding: 10px;
    display: flex;
    text-decoration: none;
    justify-content: space-evenly;
    text-align: center;
}
nav a {
    text-decoration: none;
    color: #073352 ;
}
nav a:hover {
    background-color: #073352;
    color: #fff;
    text-align: center;
}
footer {
    background-color: #3db6e6;
    color: #fff;
    text-align:center ;
    font-family: 'Times New Roman', 'Helvetica', 'Arial';
    padding: 10px 0;
    display:flex;
    flex-direction: column;
    height: 110px;
    bottom: 0;
    border: 2px solid #073352;
}
footer a {
    text-decoration: none;
    color: #fff;
}
footer a:hover {
    background-color: #073352;
    color: #fff;
    text-align: center;
}
.white_water {
    color: #050505;
    margin: 15px; 
    width: 98%;
    transform: translateY(-5px);
    opacity: 0.9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.rapids {
    color: #050505;
    margin: 1px;
    width: 60%;
    transform: translateY(190px);
    transform: translateX(580px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.textbox {
    position: absolute;
    font-family: 'Times New Roman', 'Helvetica', 'Arial';
    margin-right: 5%;
    left: 150px;
    top: 45%;
    transform: translateY(-50%);
    width: 30%;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.textbox2 {
    position: absolute;
    font-family: 'Times New Roman', 'Helvetica', 'Arial';
    margin-right: 5%;
    left: 150px;
    top: 70%;
    transform: translateY(-50%);
    width: 30%;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.textbox3 {
    position: absolute;
    font-family: 'Times New Roman', 'Helvetica', 'Arial';
    margin-right: 5%;
    right: 60%;
    top: 150%;
    transform: translateY(-50%);
    width: 30%;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.facebook, .twitter, .instagram {
    display: float;
    margin-left: 20px;
    margin-top: 5px;
    width: 40px;
    position: absolute;
    bottom: -706px;
    transform: translateY(12%);
    border-radius: 15%;
}

.facebook {
    left: 0px;
}

.twitter {
    left: 50px;
}

.instagram {
    left: 100px;
}